h1 {
    color: blue;
}

li {
    color: red;
}

li#unique {
    color: green;
}

button {
    color: white;
    background-color: blueviolet;
    border: 20px solid rgba(23, 195, 103, 0.924);
}